# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. Scikit-learn
4. TensorFlow
5. ggplot2
6. dplyr

| Data Sience Tools |
| ---- |
| Jupyter Notebook |
| Visual Studio Code |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Seitaro Miyashita